#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page_category {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0rem;
  border-bottom: 1px solid black;
}

.page_category img {
  height: 0.8rem;
  width: 0.8rem;
}

.page_category select {
  border: 1px solid #ebeef1;
}

.product-area {
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.img-area {
  height: 100%;
  padding: 0.5rem;
}

.prd-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  overflow: hidden;
}

.prd-info h2,
.prd-info h1 {
  margin: 0;
  padding-bottom: 1rem;
}

.prd-info h1 {
  font-size: 2.5rem;
}

.prd-title {
  border-bottom: 1px solid #ebeef1;
  padding-bottom: 1rem;
}

.detail-head {
  margin-top: 1rem;
  padding: 0.5rem;
}

.detail-head,
.detail-head div,
.detail-head span,
.detail-head div span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail-head div {
  gap: 1rem;
}

.detail-head div span img {
  width: 1.2rem;
  height: 1.2rem;
  padding: 0.5rem;
}

.detail-head span img {
  width: 1.2rem;
  height: 1.2rem;
}

.detail-head div span .view_btn {
  width: 1.5rem;
}

.detail-head div span,
.detail-head span {
  color: gray;
  font-size: 0.9rem;
}

.detail-body {
  margin-top: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.detail-body div span img {
  width: 1rem;
  height: 1.3rem;
}

.detail-body div {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.detail-body div span {
  width: 7rem;
  padding: 0.2rem;
  margin-top: 0.5rem;
}

.info-head {
  color: grey;
}

.btn_area {
  padding: 1rem;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 0.8rem;
}

.btn_area button {
  height: 3rem;
  width: 10rem;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  align-items: center;
  justify-content: center;
}

.btn_area button:nth-child(1) {
  background-color: gray;
}

.btn_area button:nth-child(2) {
  background-color: orange;
}

.btn_area button:nth-child(3) {
  background-color: red;
}

.btn_area button img {
  width: 1rem;
  height: 1rem;
}

.ali_area {
  padding: 2rem 0;
}
.ali {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}

.ali-top {
  display: flex;
}
.ali-top span {
  padding: 0 0.5rem;
  font-size: 0.8rem;
  border: 1px solid;
  border-radius: 50px;
  align-items: center;
}

.ali_img {
  display: flex;
  position: relative;
  text-align: center;
  justify-content: space-between;
}

.ali_img div img {
  width: 8rem;
  height: 8rem;
  padding-bottom: 0.5rem;
}

.ali_img .img_btn {
  width: 100%;
  position: absolute;
  display: flex;
  height: 8rem;
  justify-content: space-between;
  align-items: center;
}

.ali_img .img_btn button {
  width: 3rem;
  height: 3rem;
  opacity: 0.5;
  font-size: 2rem;
}

.ali_img div div span {
  font-size: 0.8rem;
}

.share_btns {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid;
}

.share_btns button {
  width: 1.7rem;
  height: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.share_btns button:first-child {
  background-color: rgb(0, 203, 47);
}

.share_btns button:first-child img {
  width: 1.4rem;
  height: 1.4rem;
}

.share_btns button:nth-child(2) {
  background-color: rgb(59, 89, 152);
}

.share_btns button:nth-child(2) img {
  width: 0.5rem;
  height: 1rem;
}

.share_btns button:nth-child(3) {
  background-color: rgb(85, 172, 238);
}

.share_btns button:nth-child(3) img {
  width: 1.2rem;
  height: 1.2rem;
}

.share_btns button:nth-child(4) img {
  width: 1.7rem;
  height: 1.7rem;
}

.share_btns button img {
  margin: 0 auto;
}

.info_area {
  display: flex;
}

.prd_explain {
  width: 39rem;
  border-right: 1px solid #ebeef1;
}

.seller_info {
  padding-left: 1rem;
  width: 20rem;
}

.explain_head,
.seller_head {
  padding-top: 3rem;
  padding-bottom: 1rem;
  margin-right: 1rem;
  border-bottom: 1px solid #ebeef1;
}

.explain_head p {
  vertical-align: baseline;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.etc_info {
  margin-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #ebeef1;
  border-bottom: 1px solid #ebeef1;
}

.etc_info div {
  display: block;
  width: 11rem;
  padding: 0.3rem;
}

.etc_info .border {
  border-right: 1px solid #ebeef1;
  border-left: 1px solid #ebeef1;
}

.etc_info div img {
  width: 1.2rem;
  height: 1.2rem;
}

.etc_info div div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.seller_who {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 1rem;
  gap: 1rem;
}

.seller_who p {
  margin: 0;
  padding: 0.1rem;
}

.seller_who img {
  border-radius: 100px;
  width: 3rem;
  height: 3rem;
}

.seller_info .follow_btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  background-color: white;
  border: 1px solid #ebeef1;
}

.seller_info .follow_btn button img {
  width: 1.5rem;
  height: 1.2rem;
}

.follow_btn {
  padding: 0 1.5rem;
}

.seller_prd_other {
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.seller_prd_other div img {
  width: 7rem;
  height: 5rem;
}
.seller_prd_other p {
  margin: 0;
  padding-top: 0.3rem;
}

.prd_review {
  border-top: 1px solid #ebeef1;
  padding-top: 1rem;
}

.prd_review p {
  text-align: center;
}

.prd_review .review_detail {
  border-top: 1px solid #ebeef1;
  display: flex;
  width: 100%;
}

.prd_review .review_detail img {
  width: 3rem;
  height: 3rem;
}

.reviewer {
  width: 15rem;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.review_detail div {
  /* display: flex; */
  font-size: 0.8rem;
}

.star {
  padding: 0 1rem;
}
.prd_review .review_detail div img {
  width: 0.9rem;
  height: 0.9rem;
}

.prd_review p {
  text-align: left;
}

.review_detail p {
  margin: 0;
  padding: 1rem;
  border-bottom: 1px solid #ebeef1;
}

.prd_review_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.8rem;
  border-bottom: 1px solid #ebeef1;
}

.prd_review_footer div {
  display: flex;
}

.review_more {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ebeef1;
}

.prd_review_footer button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 3rem;
  border: none;
  font-weight: bolder;
  font-size: 1rem;
  color: white;
}

.prd_review_footer button:nth-child(1) {
  background-color: orange;
}

.prd_review_footer button img {
  width: 1.5rem;
  height: 1.5rem;
  padding-right: 0.5rem;
}

.prd_review_footer button:nth-child(2) {
  background-color: red;
}

.prd_review_footer {
  padding: 1rem;
  gap: 1rem;
}

.prd_footer img {
  width: 5rem;
  height: 5rem;
}

.rel_prd {
  display: flex;
  align-items: center;
}

.rel_prd div:nth-child(1),
.rel_prd div:nth-child(2) {
  display: flex;
}

.rel_prd_detail {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  padding-right: 2rem;
}
