body {
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
.err {
  color: red;
  font-size: 11px;
}
.test {
  background-color: aqua;
}
.wrap {
  width: 100%;
}

.top-icons {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ebeefe;
}

.top-icons > div {
  width: 1024px;
  display: flex;
  justify-content: space-between;
}

.top-icons .app-btn {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.top-icons .app-btn a,
.top-icons .app-btn button {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  color: gray;
  text-decoration: none;
}

.top-icons > div button {
  background-color: white;
  border: none;
  color: gray;
}

.top-icons > div span {
  margin: 1px;
}

.top-icons .my-btns {
  display: flex;
}
.top-icons .my-btns .noCookie {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 1rem;
  font-size: 13px;
  color: gray;
  overflow: hidden;
  width: 0;
}
.top-icons .my-btns .noCookie.on {
  width: 150px;
}

.top-icons .my-btns .Cookie {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 1rem;
  font-size: 13px;
  color: gray;
  overflow: hidden;
  width: 0;
}
.top-icons .my-btns .Cookie.on {
  width: 230px;
}

.top-menu {
  height: 110px;
  padding-top: 35px;
  position: sticky;
  z-index: 3;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #ebeefe;
  background-color: white;
}

.top-menu .top {
  width: 1024px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-menu .top form {
  margin: 0;
}

.top-menu .top .search fieldset {
  width: fit-content;
  height: 20px;
  display: flex;
  align-items: center;
  padding: 10px;
  border: 2px solid red;
}
.top-menu .top .search fieldset input {
  width: 450px;
  border: none;
  outline: none;
}
.top-menu .top .search fieldset button {
  border: none;
  background-color: white;
}
.top-menu .top .menu-btns {
  display: flex;
}
.top-menu .top .menu-btns .line {
  width: 1px;
  margin-inline: 10px;
  background-color: #ebeefe;
}
.top-menu .top .menu-btns a {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: black;
}
.top-menu .top .menu-btns a img {
  height: 20px;
}
.top-menu .category {
  width: 1024px;
  display: flex;
  margin-top: 1.5rem;
  gap: 2rem;
  justify-content: left;
}
.top-menu .category .img {
  width: 20px;
  background-image: url("./imgs/menu.png");
  background-size: cover;
}
.top-menu .category .img.on {
  width: 20px;
  background-image: url("./imgs/menu\ on.png");
  background-size: cover;
}
.top-menu .category a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: black;
}
.category-menu {
  display: flex;
}

.category-menu .first-cate {
  display: none;
}
.category-menu .first-cate.on {
  width: 13rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 5;
  margin-top: 42px;
  transform: translateX(-200px);
  background-color: white;
  border: 1px solid #e0e3f2;
}

.category-menu .first-cate.on h4 {
  margin: 0.8rem 1rem;
}
.category-menu .first-cate.on .all,
.category-menu .second-cate.on .all,
.category-menu .third-cate.on .all {
  border-bottom: 1px solid #e0e3f2;
  height: 40px;
}
.category-menu .second-cate.on .all,
.category-menu .third-cate.on .all {
  font-size: 14px;
  font-weight: 500px;
}

.category-menu .first-cate.on #cate-list1 {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
  overflow-y: auto;
}
.category-menu .first-cate.on #cate-list1 a {
  padding: 0.4rem 1rem;
  font-weight: 300;
}
.category-menu .first-cate.on #cate-list1 .cate-list:hover {
  color: white;
  background-color: red;
}
.category-menu .first-cate.on #cate-list1 .cate-list.on {
  color: white;
  background-color: red;
}
.category-menu .second-cate {
  display: none;
}
.category-menu .second-cate.on {
  width: 13rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 5;
  margin-top: 42px;
  transform: translateX(9px);
  background-color: white;
  border: 1px solid #e0e3f2;
}
.category-menu .second-cate.on h4 {
  margin: 0.8rem 1rem;
}

.category-menu .second-cate.on #cate-list2 {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
  overflow-y: auto;
}
.category-menu .second-cate.on #cate-list2 a {
  padding: 0.4rem 1rem;
  font-weight: 400;
}
.category-menu .second-cate.on #cate-list2 .cate-list:hover {
  color: red;
  text-decoration: underline;
}
.category-menu .second-cate.on #cate-list2 .cate-list.on {
  color: red;
  text-decoration: underline;
}
.category-menu .third-cate {
  display: none;
}
.category-menu .third-cate.on {
  width: 13rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 5;
  margin-top: 42px;
  transform: translateX(216px);
  background-color: white;
  border: 1px solid #e0e3f2;
}
.category-menu .third-cate.on h4 {
  margin: 0.8rem 1rem;
}

.category-menu .third-cate.on #cate-list3 {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
  overflow: auto;
}
.category-menu .third-cate.on #cate-list3 a {
  padding: 0.4rem 1rem;
  font-weight: 400;
}
.category-menu .third-cate.on #cate-list3 .cate-list:hover {
  color: red;
  text-decoration: underline;
}
.category-menu .third-cate.on #cate-list3 .cate-list.on {
  color: red;
  text-decoration: underline;
}
.notice-list {
  display: none;
}
.notice-list.on {
  width: 20rem;
  margin-top: 42px;
  transform: translate(50rem, 11px);
  position: absolute;
  z-index: 4;
  border: 1px solid #ebeefe;
  border-top: none;
  display: block;
}

.notice-list .list {
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 1rem;
  background-color: white;
}

.notice-list .list span img {
  width: 2rem;
  border-radius: 5rem;
  padding: 0.4rem;
}

.notice-list .list div h5 {
  margin: 0;
}
.notice-list .list div div {
  font-size: 13px;
}
.myStore-menu {
  display: none;
}
.myStore-menu.on {
  width: 5rem;
  height: fit-content;
  position: absolute;
  z-index: 5;
  text-align: center;
  margin-top: 30px;
  transform: translate(59.5rem, 24px);
  background-color: white;
  border: 1px solid #ebeefe;
  border-top: none;
  display: block;
}
.myStore-menu a {
  text-decoration: none;
}
.myStore-menu a div {
  padding: 0.3rem 0;
  font-size: 13px;
  color: grey;
}
.pop {
  width: 6rem;
  position: fixed;
  z-index: 5;
  transform: translate(1040px, 10px);
}
.pop .wish-list {
  height: 3.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
.pop div {
  margin: 0.5rem 0;
}
.pop .wish-list {
  background-color: white;
}
.pop .wish-list h5 {
  margin: 0.2rem;
}
.pop .wish-list div a {
  font-size: 14px;
  margin: 0;
  color: red;
  text-decoration: none;
}
.pop .wish-list div span {
  padding: 0.2rem;
}
.pop .wish-list div img {
  height: 10px;
}
.pop .recent-view {
  height: 10rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #e0e3f2;
  background-color: white;
}
.pop .recent-view h5 {
  height: fit-content;
  margin: 0.5rem 0.8rem;
  color: gray;
}
.pop .recent-view .line {
  width: 50px;
  height: 1px;
  margin: 0;
  border-bottom: 3px dotted #e0e3f2;
}
.pop .recent-view .recent-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}
.pop .recent-view .recent-list img {
  height: 2.8rem;
}
.pop .recent-view .recent-list div {
  text-align: center;
  font-size: 12px;
  color: #e0e3f2;
}
.pop .top-button {
  padding: 0.8rem;
  border: 1px solid #e0e3f2;
  background-color: white;
}
.pop .top-button button {
  width: 100%;
  height: 100%;
  background-color: white;
  border: none;
}

.footer .footer-menu div span {
  padding: 0 1rem;
}

.footer .footer-menu div a {
  text-decoration: none;
  color: gray;
  font-size: 13.5px;
}

.footer .footer-info {
  display: flex;
  justify-content: center;
}

.footer .footer-info div {
  width: 1024px;
}
.footer .footer-menu {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ebeefe;
  border-bottom: 1px solid #ebeefe;
}
.footer .footer-menu div {
  width: 1024px;
  display: flex;
  color: #ebeefe;
}
#modal {
  position: relative;
  display: flex;
  justify-content: center;
}

#modal .login-modal.on {
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 10000;
  position: fixed;
  background-color: black;
  opacity: 0.2;
}

#modal .login {
  display: none;
}

#modal .login.on {
  width: 500px;
  height: 600px;
  top: 200px;
  margin: auto;
  position: fixed;
  z-index: 11000;
  opacity: 1;
  background-color: white;
  display: block;
}
#modal .regist {
  display: none;
}
#modal .regist.on {
  width: 500px;
  height: 600px;
  top: 200px;
  margin: auto;
  position: fixed;
  z-index: 11000;
  opacity: 1;
  background-color: white;
  display: block;
}

/* log-in */
.log,
.reg {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log .user-box,
.regist .user-box {
  width: 25rem;
}

.log .user-box h1,
.regist .user-box h1 {
  text-align: center;
}

.log .user-box p,
.regist .user-box p {
  font-size: 0.75rem;
}
.log .user-box form > *,
.regist .user-box form > * {
  display: block;
}
.log .user-box form fieldset,
.regist .user-box form fieldset {
  border-radius: 0.5rem;
  border: 1px solid#c5cbd0;
  margin: 1rem 0;
}
.log .user-box form fieldset input,
.regist .user-box form fieldset input {
  width: 100%;
  border: none;
  padding: 0.2rem;
  outline: none;
}

.log .user-box form .login-btn,
.regist .user-box form .regist-btn {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  color: white;
  background-color: #c5cbd0;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
}

.log .user-box form a,
.regist .user-box form a {
  text-align: center;
}

/* 여기부터 .body */

.body {
  width: 1024px;
  /* height: 100%; */
  margin: 0 auto;
  padding-top: 2rem;
}

.mypage_header {
  border: 1px solid #ebeefe;
  height: 18rem;
  display: flex;
}

.profile_box {
  width: 24rem;
  height: 100%;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile_inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
}

#store_score img {
  width: 1rem;
  margin-bottom: 0.5rem;
}

.profile_inner a {
  border: 1px solid white;
  width: 7rem;
  height: 2rem;
  font-size: 0.9rem;
  color: white;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile_img {
  width: 6rem;
  height: 6rem;
  margin: 0.5rem 0;
}

.profile_inner span {
  margin-bottom: 0.5rem;
  color: white;
  font-weight: bolder;
}

.mystore_info {
  padding: 1.5rem 1rem 1rem 2rem;
  width: 100%;
}

.mystore_info div:first-child span {
  font-weight: bolder;
  font-size: 1.1rem;
  margin-right: 1rem;
}

.mystore_info button {
  background-color: white;
  width: 4.4rem;
  height: 1.2rem;
  font-size: 0.6rem;
  border: 1px solid #ebeefe;
  color: gray;
}

.store_info_detail {
  margin: 1.5rem 0;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  border-top: 1px solid #ebeefe;
  border-bottom: 1px solid #ebeefe;
  width: 100%;
}

.store_info_detail img {
  width: 0.8rem;
  height: 0.8rem;
  padding-right: 0.5rem;
}

.store_info_detail span {
  font-weight: bold;
  color: gray;
}

.detail_black {
  padding-left: 0.3rem;
  padding-right: 2rem;
  color: black;
}

.mystore_info p {
  height: 5rem;
  font-size: 0.8rem;
}

.content_head {
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content_head span {
  height: 3rem;
  width: 12.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgb(238, 238, 238);
  border-bottom: 1px solid black;
  border-top: 1px solid rgb(238, 238, 238);
  background-color: rgb(250 250 250);
  font-size: 0.9rem;
  font-weight: bold;
  color: gray;
}

.left_boreder {
  border-left: 1px solid rgb(238, 238, 238);
}

.content.on {
  color: black;
  background-color: white;
  border: 1px solid black;
  border-bottom: 1px solid white;
}

.content_body_header {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  border-bottom: 1px solid lightgray;
  padding-bottom: 1.5rem;
}

.content_body_header span span {
  color: red;
}

.content_body_header select {
  border: 1px solid #ebeefe;
  width: 8rem;
  height: 1.5rem;
  padding: 0 0.5rem;
}

.content_body_header select:focus {
  border: 1px solid #ebeefe;
}

.body_head {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-top: 1rem;
}

.body_head div .on {
  color: red;
}

.prdboxArea {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.prdimgbox {
  width: 12rem;
  height: 19rem;
  border: 1px solid #ebeefe;
}

.prdimgbox img {
  width: 12rem;
  height: 12rem;
}

.prdimgbox .icon {
  width: 0.8rem;
  height: 1rem;
}

.priceandCA {
  display: flex;
  padding: 0.5rem;
  padding-bottom: 1rem;

  font-size: 0.9rem;
  justify-content: space-between;
}

.priceandCA span:first-child {
  font-weight: bold;
}

.priceandCA span:nth-child(2) {
  font-size: 0.7rem;
  color: gray;
}

.prdname {
  display: block;
  width: 12rem;
  text-align: center;
  padding: 0.5rem 0;
  font-size: 0.9rem;
}

.location {
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ebeefe;
  height: 2rem;
}

.location span {
  padding: 0 1rem;
}

.reviewbox {
  width: 1024px;
  height: 5rem;
  margin-top: 1rem;
  border: 1px solid lightgray;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review_body_header {
  font-size: 1.2rem;
  border-bottom: 1px solid lightgray;
  padding-bottom: 1.5rem;
}

.review_body_header span span {
  color: red;
}

.reviewbox .review_score img {
  width: 0.9rem;
}

.reviewbox .review_score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25rem;
  height: 3rem;
  border-right: 1px solid lightgray;
}

.reviewbox .satisfy_per {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25rem;
  height: 3rem;
}

.reviewbox .satisfy_per h3 {
  margin: 0;
}

.reviewbox .satisfy_per span {
  font-size: 0.8rem;
  color: gray;
}

.store_review_area {
  margin-top: 3rem;
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
}

.store_review_area .reviewer_profile {
  display: flex;
  font-size: 0.9rem;
}

.profile {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100px;
  margin-top: 1rem;
}

.review_star {
  display: flex;
  width: 10rem;
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
}

.review_star img {
  width: 0.8rem;
  height: 0.8rem;
}

.reviewer_info {
  padding: 1rem;
}

.reviewer_prdinfo {
  width: 20rem;
  height: 2rem;
  padding: 0.2rem;
  font-size: 0.8rem;
  color: gray;
  border: 1px solid gray;
}

.reviewer_prdinfo img {
  height: 0.5rem;
  width: 0.5rem;
}

#review_content {
  padding: 1rem 0;
}

.report_button button {
  background-color: white;
  border: none;
  color: gray;
}

.wholecheckbox {
  display: flex;
  align-items: center;
}

.body_head input {
  width: 1.4rem;
  height: 1.4rem;
}

.favorite_prd {
  display: flex;
  padding-top: 1rem;
  border: 1px solid lightgray;
  width: 480px;
}

.fav_prd_img img {
  width: 7rem;
  height: 7rem;
}

.fav_prd_content {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  width: 100%;
}

.fav_prd_content p {
  margin: 0;
}

.fav_prd_content p:first-child {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fav_prd_content p:first-child input {
  width: 1rem;
  height: 1rem;
}

.fav_prd_content p:nth-child(2) {
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 0;
}

.fav_prd_content p:nth-child(3) {
  font-size: 0.7rem;
  color: gray;
  border-bottom: 1px solid lightgray;
  padding-bottom: 0.5rem;
}

.fav_prd_content p:nth-child(4) img {
  width: 0.8rem;
  height: 0.8rem;
  padding-right: 0.5rem;
}

.fav_prd_content p:nth-child(4) {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  color: gray;
}

.fav_prd_body {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.follower_content {
  border-bottom: 1px solid lightgray;
  width: 100%;
  display: flex;
  padding: 1rem;
  gap: 3rem;
  padding: 2rem;
}

.follower_infobox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
}

.follower_infobox .roundpro {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100px;
  margin-bottom: 1rem;
}

.follower_infobox .name {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.follower_infobox .info {
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.follower_infobox .info .bold {
  font-weight: bold;
}

.follower_infobox button {
  margin-top: 0.8rem;
  width: 10rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  border: 1px solid red;
  background-color: white;
}

.follower_infobox button a {
  color: red;
}

.follower_infobox button img {
  width: 1.2rem;
  height: 0.8rem;
}

.follower_prd {
  width: 10rem;
  height: 10rem;
}

.followers_area {
  display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 3rem;
}

.follower_box {
  display: flex;
  width: 300px;
  height: 400px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.follower_box .follower_profile {
  width: 6rem;
  height: 6rem;
  border-radius: 100px;
  margin-bottom: 1rem;
}

.follower_box .star_score {
  display: flex;
  padding: 1rem 0;
}

.follower_box .star_score img {
  width: 1rem;
  height: 1rem;
}

.follower_box .info {
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.follower_box .info .bold {
  font-weight: bold;
}

.follower_box button {
  margin-top: 0.8rem;
  width: 10rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  border: 1px solid gray;
  background-color: white;
}

.follower_box button a {
  color: gray;
}

.follower_box button img {
  width: 1.2rem;
  height: 0.8rem;
}
